Language:        Cpp
BasedOnStyle:  Google
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AttributeMacros: ['KOKKOS_INLINE_FUNCTION']
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit:     100
DerivePointerAlignment: false
IndentWidth:     4
IncludeBlocks: Preserve
IndentGotoLabels: false
NamespaceIndentation: All 
StatementMacros: ['DefineUnaryOperation', 'DefineBinaryOperation']
