Language:        Cpp
BasedOnStyle:  Google
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AttributeMacros: ['KOKKOS_INLINE_FUNCTION']
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeComma
ColumnLimit:     100
DerivePointerAlignment: false
IndentWidth:     4
IncludeBlocks: Regroup
IncludeCategories:
    - Regex: 'Kokkos_Core'
      Priority: -1
      SortPriority: -2
    - Regex: '^"Ippl'
      Priority: -1
      SortPriority: -1
    - Regex: '^<.*>$'
      Priority: 2
    - Regex: 'Types[^/]*"$'
      Priority: 10
    - Regex: '^"Types'
      Priority: 20
    - Regex: '^"Utility'
      Priority: 30
    - Regex: '^"Expression'
      Priority: 40
    - Regex: '.*Field.h"$'
      Priority: 50
    - Regex: 'BConds'
      Priority: 50
      SortPriority: 51
    - Regex: 'BcTypes'
      Priority: 50
      SortPriority: 52
IndentGotoLabels: false
NamespaceIndentation: All 
PackConstructorInitializers: Never
ReflowComments: true
StatementMacros: ['DefineUnaryOperation', 'DefineBinaryOperation', 'DefineReduction', 'DefineParticleReduction']
