
doc/html
doc/latex
manual/*.aux
manual/*.log
manual/*.toc
manual/*.idx
manual/*.lof
manual/*.lot
manual/ippl_user_guide.pdf
build*/
*~
*.~
*.orig

# ignore build directories
build*/


.vscode

.cache
*pycache*
*__pycache__

*png
*svg
*puml*

./old
*old*

build/
