build/
doc/html
doc/latex
manual/*.aux
manual/*.log
manual/*.toc
manual/*.idx
manual/*.lof
manual/*.lot
manual/ippl_user_guide.pdf
build*/
*~
*.~

# ignore build directories
build*/

# ignore .vscode directory
.vscode
